*.class
.idea/
SwordieMS.iml
info txts/
bin/classes/headerText.txt
bin/classes/decodeforlocal.txt
bin/
resources/Cash.txt
resources/Eqp.txt
resources/Etc.txt
resources/Ins.txt
resources/Map.txt
resources/Mob.txt
resources/Npc.txt
resources/Skill.txt
resources/Use.txt
resourcesMap
resourcesMob
resourcesNpc
resourcesSkill.txt
*.iml
/dat
/dat/items/
/dat/etc/
/dat/fields/
/dat/mobSkills/
/dat/pets/
/dat/quests/
/dat/reactors/
/dat/recipes/
/dat/skills/
/dat/strings/
/wz
/dat206
/wz206
Chat.txt